*{
	margin: 0;
	padding: 0;

}

body {
	height: 300vh;
}
nav{
	background: linear-gradient(to right, #2A9D8F, #2CAE9F);
	display: flex;
	position: fixed;
	justify-content: center ;
	align-items: center;
	height: 8em;
	flex-direction: column;
	width: 100vw;
}
.dropbtn img{
	max-height: 60px;
	display: none;
	margin-right: 15px;
}

ul{
	font-family: 'Tajawal', sans-serif;
	padding-top: 15px;
	list-style: none;
	display: flex;
	width: 85%;
	justify-content: space-around;
	font-size: 19px;
}

nav p{
	font-family: 'Russo One', sans-serif;
	font-size: 3em;

}
nav input[type="checkbox"]{
	display: none;
}

.pageH{
	height: 100vw;
	background-color: yellow;
	border-top: black
}
.front-page-text-box{
	background: rgba(255,255,255,.88);
	width: 50vw;
	height: 30vw;

	border: 1px;
	border-style: solid;
	border-color: black;
}

.front-page-text-box p{
	color: darkblue;
}
@media (max-width: 640px) {
	nav p{
		text-align: left;
		font-size: 1.5em;
		padding:0 0 0 15px;
	}
	.dropbtn img{
		display: flex;
		padding-left: 15px;
		float: right;
	}
	.front-page-text-box{
		width: 90vw;
		height: 40vw;
	}
	nav ul{
		display: none;
	}
	nav{
		flex-direction: row;
		height: 5em

	}

	nav input[type="checkbox"]{
		display: hidden;
		position: relative;
		top: 0;

		z-index: -10;
	}
	.dropdown {
  position: relative;
  display: inline-block;
}

}

@media (min-width: 641px){
	#links a{
	text-decoration: none;
	color: black;
	border-radius: 10px;
	padding: 5px 7px;

}
	#links a:hover{
	color: white;
	background-color: darkblue;
	box-shadow: 2px 2px 8px black;
	border-radius: 10px;
	padding: 5px 7px;
	transition: all .29s;
}
.dropdown {display: none;}
}


#links, #navbar, #rbp {
	transition: all 1s;
}

.dropbtn {

}

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding-right: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.heropanel--video {
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: 'Open Sans', sans-serif;
    min-height:100vh;
}

.heropanel--video{
	z-index: -1000
}
@keyframes gm-slidein {
    from {
        -webkit-transform:translate3d(0,-100%,0);
        opacity:0;
        transform:translate3d(0,-100%,0);
    }

    to {
        -webkit-transform:none;
        opacity:1;
        transform:none;
    }
}

.heropanel__content {
    -moz-animation:gm-slidein 3s 1;
    -ms-animation:gm-slidein 3s 1;
    -o-animation:gm-slidein 3s 1;
    -webkit-animation:gm-slidein 3s 1;
    animation:gm-slidein 3s 1;
    border-bottom:1px solid #FFF;
    margin:0 auto;
    max-width:50%;
    padding:4em 0 2em;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.5);
}

.heropanel__content h1 {
    //margin:0 0 .5em;
    margin-top: 40px;
    text-transform:uppercase;
}

.heropanel__content h1 a {
    color:#FFF;
    text-decoration:none;
}

.heropanel__content p {
    color:#fff;
    margin:0;
    text-transform:uppercase;
}
